.vscode/
backend/.env
.env
.venv/
ai_model/eval_result_*.csv
cpp_evaluator/build/
cpp_evaluator/candidates/
cpp_evaluator/results/
cpp_evaluator/evaluator.exe
finalscore/execution_result.csv
finalscore/semantic_result.csv
finalscore/final_scores.csv
finalscore/finalscore.exe
__pycache__/
*.pyc
cpp_evaluator/request_body.json
cpp_evaluator/results/
.venv/
eval_result_*.csv
